.login-page {
    margin: 20px 0 0 300px; 
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.login-form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

.login-logo {
    cursor: pointer;
  }

.login-title, .login-form {
    font-size: 30px;
  }