.App{
  display: flex;
}
body{
  margin: 0;
  padding: 0;
}

.nav{
  width: auto;
  height: 60px;
  background-color: transparent;
  padding: 10px;
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.search-bar{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
}
.search-button{
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #001639;
  box-sizing: border-box;
}
.search-button:hover{
  background-color: #cd0533;
}

.sidebar{
  height: 100vh;
  width: 100px;
  background-color: #f7e2cf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.sidebar-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-self: flex-start;
  cursor: pointer;
}

.sidebar-profile-pic{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  padding-bottom: 10px;
}

.sidebar-nav{
  align-self: center;
}
.sidebar-footer{
  align-self: flex-end;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.sidebar-login{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.sidebar-login button,
.sidebar-nav button{
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #001639;
  margin-bottom: 10px;
}
.sidebar-login button:hover,
.sidebar-nav button:hover{
  background-color: #cd0533;
}

.content{
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-logo{
  width: 25%;
  cursor: pointer;
}

.login-title {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-left: 100px;
}

.login-container{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.login-form{
  display: flex;
  padding: 2rem 2rem;
  vertical-align: middle;
  justify-content: space-evenly;
}

.signup-logo{
  width: 25%;
  cursor: pointer;
}

.signup-title {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-left: 100px;
}

.signup-container{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.signup-form{
  display: flex;
  padding: 2rem 2rem;
  vertical-align: middle;
  justify-content: space-evenly;
}